// MIXINS
@mixin circle($height, $width, $bck: blue, $b-rad: 50%){
    height: $height;
    width: $width;
    background: $bck;
    border-radius: $b-rad;
}

@mixin p-left($top, $left){
    position: absolute;
    top: $top;
    left: $left;
    
}

@mixin p-right($top, $right){
    position: absolute;
    top: $top;
    right: $right;
}