html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background: #25A9FC;
}

.box {
  position: relative;
  margin: auto;
  margin-top: 8%;
  width: 600px;
  height: 420px;
  display: block;
  border: solid 4px red;
}

.head {
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 50%;
  height: 67%;
  background: #A6BECF;
  border-radius: 50%;
}

.head .head-copy {
  width: 100%;
  height: 100%;
  background: #A6BECF;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.head .ear-left {
  position: absolute;
  top: 5%;
  left: -20%;
  width: 60%;
  height: 65%;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 1;
}

.head .ear-right {
  position: absolute;
  top: 5%;
  right: -20%;
  width: 60%;
  height: 65%;
  background: #A6BECF;
  border-radius: 50%;
  z-index: 1;
}

.head .inner-ear {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background: #819CAF;
  border-radius: 50%;
}

.head .eye-left {
  position: absolute;
  top: 25%;
  left: 21%;
  width: 30%;
  height: 33%;
  background: white;
  border-radius: 50%;
  z-index: 3;
}

.head .eye-right {
  position: absolute;
  top: 25%;
  right: 21%;
  width: 30%;
  height: 33%;
  background: white;
  border-radius: 50%;
  z-index: 2;
}

.head .pupil {
  position: absolute;
  top: 35%;
  left: 36%;
  width: 28%;
  height: 30%;
  background: #27354A;
  border-radius: 50%;
}

.head .nose {
  position: absolute;
  top: 45%;
  left: 37%;
  width: 25%;
  height: 42.5%;
  background: #BE845F;
  border-radius: 50%;
  z-index: 4;
}

.head .hair-left {
  position: absolute;
  top: -8%;
  left: 30%;
  width: 20%;
  height: 20%;
  background: #A6BECF;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.head .hair-right {
  position: absolute;
  top: -4%;
  left: 48%;
  width: 20%;
  height: 20%;
  background: #A6BECF;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.elephant-box {
  position: relative;
  margin: auto;
  margin-top: 8%;
  width: 600px;
  height: 600px;
  display: block;
  border: solid 4px lightslategray;
}

.e-head {
  position: absolute;
  top: 16.5%;
  left: 25%;
  width: 55%;
  height: 60%;
  background: #fa96cb;
  border-radius: 50%;
}

.e-head .e-head-copy {
  width: 100%;
  height: 100%;
  background: #fa96cb;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.e-head .e-l-ear {
  position: absolute;
  top: 2%;
  left: -30%;
  width: 60%;
  height: 105%;
  background: #fa96cb;
  border-radius: 50%;
  z-index: 1;
}

.e-head .e-l-ear .e-l-inner-ear {
  position: absolute;
  top: 10%;
  left: 21%;
  width: 80%;
  height: 80%;
  background: #ef017c;
  border-radius: 50%;
}

.e-head .e-r-ear {
  position: absolute;
  top: 2%;
  right: -30%;
  width: 60%;
  height: 105%;
  background: #fa96cb;
  border-radius: 50%;
  z-index: 1;
}

.e-head .e-r-ear .e-r-inner-ear {
  position: absolute;
  top: 10%;
  right: 21%;
  width: 85%;
  height: 75%;
  background: #ef017c;
  border-radius: 50%;
}

.e-head .e-l-eye {
  position: absolute;
  top: 27%;
  left: 30%;
  width: 15%;
  height: 20%;
  background: white;
  border-radius: 50%;
  z-index: 3;
}

.e-head .e-r-eye {
  position: absolute;
  top: 27%;
  right: 30%;
  width: 15%;
  height: 20%;
  background: white;
  border-radius: 50%;
  z-index: 3;
}

.e-head .e-pupil {
  position: absolute;
  top: 35%;
  left: 36%;
  width: 25%;
  height: 25%;
  background: black;
  border-radius: 50%;
}

.e-head .e-nose {
  position: absolute;
  top: 40%;
  left: 38%;
  width: 25%;
  height: 95%;
  background: -webkit-gradient(linear, left top, left bottom, from(#fa96cb), to(#e24d9a));
  background: linear-gradient(#fa96cb 0%, #e24d9a 100%);
  border-radius: 40px;
  z-index: 2;
}

.e-head .l-nose-dot {
  position: absolute;
  top: 81%;
  left: -0.5%;
  width: 45%;
  height: 15%;
  background: #e24d9a;
  border-radius: 50%;
  z-index: 3;
}
/*# sourceMappingURL=main.css.map */